.tarjeta {

    font-size: 16px;  // 1EM

    border-radius: 5px;
    overflow: hidden;
    box-sizing: content-box;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
    background-color: white;

    .tarjeta-titulo {
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 0.075em;
        margin-bottom: 0.7em;
    }
 
    .tarjeta-cabecera,
    .tarjeta-pie {
        padding: .9375em;
        font-size: 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        background-color: rgba(0, 0, 0, 0.03);
    }

    .tarjeta-cuerpo {
        padding: .9375em;
        line-height: 1.5625em;
        color: $fd-gris-az;
        font-size: 1em !important;
    }

    .tarjeta-pie {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: none;
    }

    .tarjeta-link {
        border: none;
        font-size: 1.2em;
        color: rgb(0, 80, 185);
        letter-spacing: 1.2px;
    }
    .tarjeta-link:hover {
        color: rgb(26, 110, 219);
    }

    .tarjeta-img {
        overflow: hidden;
     
        width: 100%;


        max-height: 30%;
        min-height: 30%;


        cursor: pointer;
        color: white;
        position: relative;


        img {
            max-width: 100%;
            max-height: 100%;
        }

        .tarjeta-capa {
            @include posicionamiento-absoluto(0, null, 0, -100%);
            width: 100%;
            max-height: 100%;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.795);
            z-index: 10;
            transition: left 0.3s ease;
        }
    }

    .tarjeta-img:hover > .tarjeta-capa {
        left: 0;
    }

    small{
        font-size: .8125em;
        color: rgb(143, 143, 143);
    }


    .tarjeta-cobertura {
        @include posicionamiento-absoluto(100%, 0,null, 0);
        @include ancho-alto(100%, 100%);
        transition: top 0.3s ease;
        background-color: white;
        z-index: 10;
        color: black;
        line-height: 1.5em;
        overflow: auto;
    }

    &:hover >  .tarjeta-cobertura{
        top: 0; 
    }
}