

.lista-contenedor {

    display: flex;
    flex-direction: column;
    font-size: 16px !important;
    min-width: 260px;


    box-sizing: content-box !important;

    border-radius: 5px;
    border-top: rgba(0, 0, 0, 0.055);
    border-bottom: rgba(0, 0, 0, 0.055);

  
    .lista-cabecera,
    .lista-pie
     {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.062);
        padding: 7px;
        font-size: 0.9em;
        border-radius: $borde-radio-cabecera;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.055) !important;

    }
    
    .lista-pie{
        border-radius: $borde-radio-pie;
        border-top:none !important;
    }

    

   
    .lista-item {
        padding: 7px 10px;
        font-size: 1.1em;
        border-bottom: $borde;
        border-left: $borde;
        border-right: $borde;
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        &.desactivado *{
            color: rgb(175, 175, 175) !important;

            &:hover{
                color: rgb(175, 175, 175) !important;
            }
        }

        a {
            display: block;
            font-size: 15px;
            color: black
        }
    }

    & .lista-item:first-child {
        border-top: $borde;
    }


    .lista-item-img {
        display: flex;
        align-items: center;
        border-bottom: $borde;
        border-left: $borde;
        border-right: $borde;
        padding: 10px;
        .img-cont {
            overflow: hidden;
            @include ancho-alto(30px, 30px);
            border-radius: 50%;
            img {
                max-width: 100%;
            }
        }

        *:not(.img-cont) {
            padding-left: 5px;
        }

        * {
            display: block;
            font-size: 18px;
            color: black
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.048) !important
        }
    }

    & .lista-item-img:first-child {
        border-top: $borde;
    }

    
    .desplegable {
        background-color: rgba(0, 0, 0, 0.096);
        font-size: 15px !important;
        padding: 7px;
        p {
            padding: 5px !important;
            line-height: 22px !important;
            margin: 0 !important;
        }

        ul li a {
            display: block;
            padding: 5px;
            list-style: none;
            &:hover {
                background-color: rgba(0, 0, 0, 0.096);
            }
        }
    }
}


.lista-usuario {
    display: flex;
    flex-direction: column;

    .lista-item {
        padding: 5px 20px;
        border-bottom: $borde; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        .contenido {
            display: flex;
            align-items: center;

            .img-cont {
                overflow: hidden;
                @include ancho-alto(60px, 60px);
                border-radius: 50%;
                img {
                    max-width: 100%;
                }
            }
    
            *:not(.img-cont) {
                font-size: 20px;
                color: rgb(15, 15, 15);
                padding-left: 10px;
                font-weight: 500;

                &:hover {
                    color: $fd-verde;
                }
            }
        }
        
    }
}