
.fd-rojo {
    background-color: $fd-rojo !important;
}

.fd-rojo-c {
    background-color: $fd-rojo-c !important;;
}

.fd-rojo-o-1 {
    background-color: $fd-rojo-o-1 !important;;
}

.fd-rojo-o-2 {
    background-color: $fd-rojo-o-2 !important;;
}

.fd-rojo-o-3 {
    background-color: $fd-rojo-o-3 !important;;
}

.fd-rojo-o-4 {
    background-color: $fd-rojo-o-4 !important;;
}

.fd-rojo-t {
    background-color: $fd-rojo-t !important;;
}

.fd-rojo-an {
    background-color: $fd-rojo-an !important;
}

.fd-rojo-ro {
    background-color: $fd-rojo-ro !important;
}

// Tonalidades de Rosa
.fd-rosa {
    background-color: $fd-rosa !important;
}

.fd-rosa-c {
    background-color: $fd-rosa-c !important;;
}

.fd-rosa-o-1 {
    background-color: $fd-rosa-o-1 !important;;
}

.fd-rosa-o-2 {
    background-color: $fd-rosa-o-2 !important;;
}

.fd-rosa-o-3 {
    background-color: $fd-rosa-o-3 !important;;
}

.fd-rosa-o-4 {
    background-color: $fd-rosa-o-4 !important;;
}

.fd-rosa-t {
    background-color: $fd-rosa-t !important;;
}

.fd-azul {
    background-color: $fd-azul !important;
}

.fd-azul-c {
    background-color: $fd-azul-c !important;
}

.fd-azul-o-1{
    background-color: $fd-azul-o-1 !important;
}

.fd-azul-o-2{
    background-color: $fd-azul-o-2 !important;
}


.fd-azul-o-3{
    background-color: $fd-azul-o-3 !important;
}


.fd-azul-o-4{
    background-color: $fd-azul-o-4 !important;
}


.fd-azul-ve {
    background-color: $fd-azul-ve !important;
}

.fd-azul-ve-s {
    background-color: $fd-azul-ve-s !important;
}

.fd-azul-ve-c {
    background-color: $fd-azul-ve-c !important;
}

.fd-azul-t {
    background-color: $fd-azul-t !important;
}

.fd-azul-vi {
    background-color: $fd-azul-vi !important;
}

// *** Verde  *** //
.fd-verde {
    background-color: $fd-verde !important;
}
.fd-verde-c {
    background-color: $fd-verde-c !important;
}

.fd-verde-o-1 {
    background-color: $fd-verde-o-1 !important;
}

.fd-verde-o-2 {
    background-color: $fd-verde-o-2 !important;
}

.fd-verde-o-3 {
    background-color: $fd-verde-o-3 !important;
}
.fd-verde-o-4 {
    background-color: $fd-verde-o-4 !important;
}
.fd-verde-t {
    background-color: $fd-verde-t !important;
}
.fd-verde-az {
    background-color: $fd-verde-az !important;
}

.fd-verde-am {
    background-color: $fd-verde-am !important;
}

.fd-gris {
    background-color: $fd-gris !important;
}
.fd-gris-c {
    background-color: $fd-gris-c !important;
}

.fd-gris-o-1 {
    background-color: $fd-gris-o-1 !important;
}

.fd-gris-o-2 {
    background-color: $fd-gris-o-2 !important;
}

.fd-gris-o-3 {
    background-color: $fd-gris-o-3 !important;
}

.fd-gris-o-4 {
    background-color: $fd-gris-o-4 !important;
}

.fd-gris-t {
    background-color: $fd-gris-t !important;
}
.fd-gris-az {
    background-color: $fd-gris-az !important;
}

.fd-gris-az-c {
    background-color: $fd-gris-az-c !important ;
}

.fd-gris-az-o {
    background-color: $fd-gris-az-o !important;
}

.fd-gris-n {
    background-color: $fd-gris-n !important;
}

.fd-blanco {
    background-color: $fd-blanco !important;
}

.fd-negro {
    background-color: $fd-negro !important;
}

.fd-violeta {
    background-color: $fd-violeta !important;
}

.fd-violeta-c {
    background-color: $fd-violeta-c !important;
}

.fd-violeta-o-1 {
    background-color: $fd-violeta-o-1 !important;
}

.fd-violeta-o-2 {
    background-color: $fd-violeta-o-2 !important;
}


.fd-violeta-o-3 {
    background-color: $fd-violeta-o-3 !important;
}


.fd-violeta-o-4 {
    background-color: $fd-violeta-o-4 !important;
}


.fd-violeta-t {
    background-color: $fd-violeta-t !important;
}

.fd-violeta-az {
    background-color: $fd-violeta-az !important;
}

.fd-violeta-ro {
    background-color: $fd-violeta-ro !important;
}


// Tonalidades naranja
.fd-naranja {
    background-color: $fd-naranja !important;
}

.fd-naranja-o-1 {
    background-color: $fd-naranja-o-1 !important;
}

.fd-naranja-o-2 {
    background-color: $fd-naranja-o-2 !important;
}

.fd-naranja-o-3 {
    background-color: $fd-naranja-o-3 !important;
}

.fd-naranja-o-4 {
    background-color: $fd-naranja-o-4 !important;
}

.fd-naranja-c {
    background-color: $fd-naranja-c !important;
}

.fd-naranja-t {
    background-color: $fd-naranja-t !important;
}

.fd-naranja-ro {
    background-color: $fd-naranja-ro !important;
}

.fd-naranja-am {
    background-color: $fd-naranja-am !important;
}

// *** Tonalidadesd de amarillo
.fd-amarillo {
    background-color: $fd-amarillo !important;
}

.fd-amarillo-c {
    background-color: $fd-amarillo-c !important;
}

.fd-amarillo-o-1 {
    background-color: $fd-amarillo-o-1 !important;
}

.fd-amarillo-o-2 {
    background-color: $fd-amarillo-o-2 !important;
}
.fd-amarillo-o-3 {
    background-color: $fd-amarillo-o-3 !important;
}

.fd-amarillo-o-4 {
    background-color: $fd-amarillo-o-4 !important;
}

.fd-amarillo-t {
    background-color: $fd-amarillo-t !important;
}

.fd-amarillo-ve{
    background-color: $fd-amarillo-ve !important;
}

.fd-amarillo-an {
    background-color: $fd-amarillo-an !important;
}


.fd-trasparente {
    background-color: transparent !important;
}


.fd-negro-trasp {
    background-color: rgba(0, 0, 0, 0.075) !important;
}

.fd-facebook {
    background-color: #3b5998 !important;
}

.fd-youtube {
    background-color: #bb0000 !important;
}

.fd-twiter {
    background-color: #55acee !important;
}


.fd-linkedin {
    background-color: #007bb5 !important;
}

.fd-instagram {
    background-color: #125688 !important;
}

.fd-pinterest {
    background-color: #cb2027 !important;
}

.fd-tumblr {
    background-color: #32506d !important;
}

.fd-imgur {
    background-color: #32506d !important;
}

.fd-telegram {
    background-color: #32506d !important;
}

.fd-flickr {
    background-color: #ff0084 !important;
}

.fd-vimeo {
    background-color: #aad450 !important;
}

.fd-whatsapp {
    background-color: #4dc247 !important;
}


.fd-soundcloud {
    background-color: #fffc00 !important;
}


.fd-snapchat {
    background-color: #fffc00 !important;
}

.fd-periscope {
    background-color: #35A3C6 !important;
}

.fd-tinder {
    background-color: #E34514 !important;
}
