
.input-g {

    // Bordes de los elemento
    $borde: 1px solid rgb(206, 212, 218);
    $borde-boton: 1px solid  rgb(63, 63, 63);
    $bor-rad-izq: 4px 0 0 4px; // Radios elementos izquierda
    $bor-rad-der: 0 4px 4px 0; // Radios elementos izquierda


    // Fondo
    $bg-span: rgb(230, 237, 238);
    $letra-span: rgb(81, 85, 90);
    
    // Tamaños
    $min-h: 40px;
    $min-h-lg: 50px;
    $min-h-sm: 30px;
    
    $fz: 1em;
    $fz-lg: 1.3em;
    $fz-sm: 0.9em;

    $padding: 0 16px !important;
    $padding-sm: 0 13px !important;
    $padding-lg: 0 20px !important;

    // 1 EM 
    font-size: 16px;
   
    

    input[type='text'], 
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='url'],
    input[type='search'], 
    textarea {
        
        border: none ;
        font-size: $fz;

        &:focus {
            z-index: 2000;
        }
    }

    .grupo,
    .grupo-sm,
    .grupo-lg{
        display: flex;
        border-radius: 4px;
        .span-grupo{
            // Flex box just center align center
            @include flex-box-centrado();

            // Tamaño
            padding:$padding;
            font-size: $fz;
            min-height: $min-h;

            // Color
            background-color: $bg-span;
            color: $letra-span;

            white-space: nowrap;
            
            *{
                border: none !important;
            }
        }


        input[type='text'], 
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='url'],
        input[type='search'], 
        textarea {

            // Define el tamaño mediano
            min-height: $min-h !important;

            &:focus {
                z-index: 100000000;
            }
        }

        .btn,
        .btn-o,
        .btn-sm,
        .btn-sm-o,
        .btn-lg,
        .btn-lg-o{
            // Bordes
            border-radius: 4px 0 0 4px;
            border: $borde-boton;

            // Tamaño
            padding: $padding; 
            min-height: $min-h;
            font-size: $fz !important;

            box-shadow: none;
            min-width: none !important;
            
            background-color: rgb(250, 253, 255) !important;
            &:hover {
                background-color: $bg-span !important;
                z-index: 1000000;
            }
            *{
               border: none !important;
            }
            .f-abajo-grupo {
                border-top: 4px solid $letra-span !important;
                border-left: 4px solid transparent !important;
                border-right: 4px solid transparent !important;
            }
        }

        .a-ajuste-btn {
            min-width: 130px !important;
            display: flex !important;
            justify-content: space-between !important;
        }

        *:first-child {
            border-radius: $bor-rad-izq;
            border: $borde;
            border-right: none;
        }

        *:last-child {
            border-radius: $bor-rad-der;
            border: $borde;
            border-left: none;
        }

        *:not(:first-child):not(:last-child) {
            border-radius: 0;
            border: $borde;
            border-left: none;
        }

        *:nth-child(2) {
            border-left: $borde !important;
        }
        
        

        .dropdown {
            border: 1px solid rgb(209, 209, 209) !important; 
            background-color: white !important;
            z-index: superposicion(ms);

            *{
                border: none !important;
            }
        }

        .dropdown-toggle {
            z-index: superposicion(ms);
            
        }
    }

    .grupo-sm {
        input[type='text'], 
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='url'],
        input[type='search'], 
        textarea {
            font-size: $fz-sm;
            min-height: $min-h-sm !important;
        }

        .span-grupo {
            font-size: $fz-sm;
            min-height: $min-h-sm;
            padding: $padding-sm;
        }

        .btn,
        .btn-o,
        .btn-sm,
        .btn-sm-o,
        .btn-lg,
        .btn-lg-o{
            border-radius: $bor-rad-izq;
            min-height: $min-h-sm;
            padding: $padding-sm;
            font-size: $fz-sm !important;
        }

        *:last-child {
            border-radius: $bor-rad-der;
            border: $borde;
            border-left: none;
        }
    }

    .grupo-lg {
        input[type='text'], 
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='url'],
        input[type='search'], 
        textarea {
            font-size: $fz-lg;
            min-height: $min-h-lg !important;
        }

        .span-grupo {
            padding: $padding-lg;
            font-size: $fz-lg;
            min-height: $min-h-lg;
        }

        .btn,
        .btn-o,
        .btn-sm,
        .btn-sm-o,
        .btn-lg,
        .btn-lg-o{
            min-height: $min-h-lg;
            padding: $padding-lg;
            font-size: $fz-lg !important;
        }
    }
}