
.menu {
    @include menu-general();
    .menu-logo {
        @include menu-logo();
        --deprecated: "WARNING: Use .other-class instead";
    }

    .lateral-boton {
        @include menu-lateral-boton();
        --deprecated: "WARNING: Use .other-class instead";
        
    }

    .lista {
        @include menu-lista();
        --deprecated: "WARNING: Use .other-class instead";
    }

    .borde-seleccionado {
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $fd-azul-c;
        --deprecated: "WARNING: Use .other-class instead";

    }

    .contenedor {
        display: flex;
        --deprecated: "WARNING: Use .other-class instead";
    }

    --deprecated: "WARNING: Use .other-class instead";
}

.menu-fixed {
    @include posicionamiento-fixed(0,0,null, 0);
    --deprecated: "WARNING: Clase obsoleta";
}

.menu-ext {
    @include menu-ext();
    --deprecated: "WARNING: Use .other-class instead";
}

.colapso {
    display: none;
    opacity: 0;
    --deprecated: "WARNING: Use .other-class instead";
}

.selector-colapso{
    position: relative;
    overflow: hidden;
    --deprecated: "WARNING: Use .other-class instead";
}



/*************************************************************************************************
*************************/
.nav-body {
    background-color: rgb(26, 88, 223);
    display: flex;
    align-items: center;
    
    @media (max-width: 1024px) {
        & {
            display: flex;
            justify-content: space-between;
        }
    }


    .nav-logo {
        color: white;
        font-size: 30px;
        padding: 15px 30px 15px 0 ;
        margin-left: 1em;
    }

    .contenedor {
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            & {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .boton-nav,
    .boton-nav-colapso,
    .boton-desplegable {
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 100000000;
        align-items: flex-end;
        margin-right: 1em;

        span {
            width: 24px;
            height: 2.5px;
            background-color: white;
            margin-bottom: 4.5px;
            z-index: -1;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.199);
        }
    } 



    .boton-nav,
    .boton-nav-colapso {
        display: none;
        @media (max-width: 1024px) {
            & {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .boton-desplegable {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .lista {
        display: flex;
        width: 80%;
        list-style: none;
        li {
            a {
                display: block;
                color: white;
                font-size: 20px;
                padding: 10px 15px;
                border-radius: 5px;
                transition: all 0.3s;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.199);
                }

                &.activo {
                    background-color: rgba(223, 71, 0, 0.37);
                }

                &.desactivado {
                    color: grey !important;

                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

.nav-lg {
    .nav-logo {
        padding-top: 26px !important;
        padding-bottom: 26px !important;
    }
}

.nav-md {
    .nav-logo {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

.nav-fixed {
    position: fixed !important;
    z-index: 100000000 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.nav-colapso {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    z-index: 10000000;
    background-color: white;
    opacity: 0;
    .lista-colapso {
        list-style: none;
        li {
            a {
                display: block;
                width: 100%;
                padding: 10px;
                color: black;
                font-size: 18px;

                &.activo {
                    color: orangered;
                }

                &.desactivado {
                    color: grey !important;
                }
            }
        }
    }
}

.nav-sidebar {
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.253);
    top: 0;
    bottom: 0;
    left: -240px;
    width: 240px;
    transition: left 0.3s;
    z-index: 10000000;
    ul {
        list-style: none;
        li {
            a {
                display: block;
                color: black;
                width: 100%;
                padding: 10px;
                font-size: 18px;

                &.activo {
                    color: orangered;
                }

                &.desactivado {
                    color: grey !important;
                }
            }
        }
    }
}

.nav-sidebar-desplegable {
    padding-top: 0.5em;
    position: fixed;
    bottom: 0;
    top: 4em;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.253);
    width: 240px;
    z-index: 10000000;
    overflow: auto;
    user-select: none;
    transition: left 0.3s;
    .titulo {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: black;
        padding: 0.3em 0.5em;
        cursor: pointer;

    }

    .f-derecha {
        position: absolute;
        height: 0;
        width: 0;
        border-left: 5px solid rgb(44, 44, 44);
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
    }

    .f-abajo {
        position: absolute;
        height: 0;
        width: 0;
        border-top: 5px solid rgb(44, 44, 44);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    ul{
        list-style: none;
        li {
            
            a {
                display: block;
                padding: 0.2em 1em;
                width: 100%;
                color: rgb(44, 44, 44);
                font-size: 18px;
                &:hover {
                    color: black;
                }

                &.activo {
                    color: orangered;
                }

                &.desactivado {
                    color: grey !important;
                }
            }
        }
    }
}


.nav-contenido {
    transition: all 0.3s;
}
.nav-complemento {
    z-index: 1000000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}