.select-mod{
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    min-height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border-top: 5px solid black;
        border-left: 5px solid transparent;
        border-right:  5px solid transparent;
        top: calc(50% - 2.5px);
        right: 10px;
    }
    select {
       display: none;
    }
    .select {
        background-color: white;
    }

    &:focus {
        border: 1px solid rgb(0, 247, 255);
    }

    .seleccionado {
        font-size: 18px;
        height: 100%;
    }

    .inactivo {
        color: $fd-gris !important;
    }


    .lista,
    .lista-borde {
        display: none;
        position: absolute;
        width: 100%;
        border-radius: 3px;
        background-color: white;
        top: calc(100% + 5px);
        left: 0;
        border: 1px solid rgb(207, 207, 207);
  
        z-index: 10000000000;
        ul {
            list-style: none;
            li {
                option{
                    display: block;
                    width: 100%;
                    padding: 7px 20px;
                }
            }

            .hover {

                &:hover {
                    background-color: $fd-azul-c;
                    color: white;
                }
            }
        }
    }
}