.switch-grupo {
    input[type="checkbox"] {
        display: none;
    }

    .switch-rojo, 
    .switch-negro, 
    .switch-verde, 
    .switch-azul,
    .switch-gris {
        height: 15px;
        width: 40px;
        background-color: rgba(161, 161, 161, 0.5);
        border-radius: 8px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            top: -3.5px;
            left: -1%;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.37);
            transition: left 0.3s ease;
        }
        &::after {
            content: "";
            position: absolute;
            width: 44px;
            height: 44px;
            background-color: rgba(163, 163, 163, 0.220);
            top: -3.5px;
            left: -1%;
            border-radius: 50%;
            transform: translate(-11px, -11px);
            transition: all 0.5s ease;
            display: none;
        }
        &:active::after {
            display: inline-block;
        }
    }

    input[type="checkbox"]:checked + .switch-rojo {
        background-color: rgba(238, 0, 0, 0.5);
    }
    
    input[type="checkbox"]:checked + .switch-rojo::before{
        background-color: rgb(238, 0, 0);
        left: calc(100% - 19px);
    }
    
    input[type="checkbox"]:checked + .switch-rojo::after{
        background-color: rgba(238, 0, 0, 0.123);
        left: calc(100% - 19px);
    }
    
    
    input[type="checkbox"]:checked + .switch-negro {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    input[type="checkbox"]:checked + .switch-negro::before {
        background-color: rgb(0, 0, 0);
        left: calc(100% - 19px);
    }
    
    input[type="checkbox"]:checked + .switch-negro::after {
        background-color: rgba(0, 0, 0, 0.123);
        left: calc(100% - 19px);
    }
    
    input[type="checkbox"]:checked + .switch-verde {
        background-color: rgba(17, 187, 144, 0.5);
    }
    
    input[type="checkbox"]:checked + .switch-verde::before {
        background-color: rgb(17, 187, 144);
        left: calc(100% - 19px);
    }
    
    input[type="checkbox"]:checked + .switch-verde::after {
        background-color: rgba(17, 187, 144, 0.200);
        left: calc(100% - 19px);
    }
    
    input[type="checkbox"]:checked + .switch-azul {
        background-color: rgba(0, 72, 155, 0.5);
    }
    
    input[type="checkbox"]:checked + .switch-azul::before {
        background-color: rgb(0, 72, 155);
        left: calc(100% - 19px);
    }
    
    input[type="checkbox"]:checked + .switch-azul::after {
        background-color: rgba(0, 72, 155, 0.123);
        left: calc(100% - 19px);
    }
}






