/*!
 * BodyStyle v3.1.0
 * Copyright Federico Manzano
 * Licencia MIT
 * Repositorio (https://github.com/FedericoManzano/bodystyle-v3.1.0-fuente)
 */



//Generales 
@import "globales";
@import "generales";
@import "utilitariosExp";
@import "iconos";
@import "fondos";

//Aliniamiento 
@import "alineamiento";


//CSS 
@import "efecto-borde";
@import "tabla";
@import "alertas";
@import "badges";
@import "efectoTresD";
@import "decoracionTitulo";
@import "formas";
@import "footer";
@import "conEtiquetados";
@import "hover";
@import "breadcrumbs";
@import "social";
@import "coleccionesFlotantes";


// JS

@import "efecto-waves";
@import "imagenes";
@import "toast";
@import "botonFlotante";
@import "scroollSpy";
@import "paralax";
@import "botonInicio";
@import "efecto-scroll";


// Componentes
@import "preloader";
@import "progressBar";
@import "botones";
@import "card";
@import "modal";
@import "menu";
@import "slider";
@import "colecciones";
@import "tab";


// Formularios
@import "switch";
@import "inputText";
@import "inputRadioCheck";
@import "inputGrupo";
@import "select";
@import "selectModificado";
@import "formularios";
@import "range";
@import "templateFormularios";


@import url("https://ghcdn.rawgit.org/FedericoManzano/dynamics-tips-v1.1.0-fuente/master/dist/css/estilos-dynamics.min.css");