/** Borde radio % y px*/
@for $i from 1 through 50 {
    .bor-rad-por-#{$i} {
        border-radius: 0% + $i !important;
    }
}

.bor-negro-trasp {
    border-bottom: 1px solid rgba(0, 0, 0, 0.055) !important;
}

.bor-pill {
    border-radius: 9999px !important;
}

@for $i from 1 through 300 {
    .bor-rad-#{$i} {
        border-radius: 0px + $i !important;
    }
}

@for $i from 1 through 10 {
    .bor-#{$i} {
        border: 0px + $i solid rgb(0,0,0) !important;
    }
}
/** Bordes rojos */
@for $i from 1 through 10 {
    .bor-rojo-#{$i} {
        border: 0px + $i solid $fd-rojo !important;
    }
}
@for $i from 1 through 10 {
    .bor-rojo-c-#{$i} {
        border: 0px + $i solid $fd-rojo-c !important;
    }
}

@for $i from 1 through 10 {
    .bor-rojo-t-#{$i} {
        border: 0px + $i solid $fd-rojo-t !important;
    }
}

@for $i from 1 through 10 {
    .bor-rojo-o-#{$i} {
        border: 0px + $i solid $fd-rojo-o-1 !important;
    }
}

/** Bordes rojos verdes*/
@for $i from 1 through 10 {
    .bor-verde-#{$i} {
        border: 0px + $i solid $fd-verde !important;
    }
}

@for $i from 1 through 10 {
    .bor-verde-c-#{$i} {
        border: 0px + $i solid $fd-verde-c !important;
    }
}

@for $i from 1 through 10 {
    .bor-verde-o-#{$i} {
        border: 0px + $i solid $fd-verde-o-2 !important;
    }
}

@for $i from 1 through 10 {
    .bor-verde-az-#{$i} {
        border: 0px + $i solid $fd-verde-az !important;
    }
}

/*bordes azules*/
@for $i from 1 through 10 {
    .bor-azul-#{$i} {
        border: 0px + $i solid $fd-azul !important;
    }
}

@for $i from 1 through 10 {
    .bor-azul-ve-#{$i} {
        border: 0px + $i solid $fd-azul-ve !important;
    }
}

@for $i from 1 through 10 {
    .bor-azul-c-#{$i} {
        border: 0px + $i solid $fd-azul-c !important;
    }
}


@for $i from 1 through 10 {
    .bor-azul-o-#{$i} {
        border: 0px + $i solid $fd-azul-o-2 !important;
    }
}