.f-grosor-1{
    font-weight: 100 !important;
}

.f-grosor-2{
    font-weight: 200 !important;
}

.f-grosor-3{
    font-weight: 300 !important;
}

.f-grosor-4{
    font-weight: 400 !important;
}

.f-grosor-5{
    font-weight: 500 !important;
}

.f-grosor-6{
    font-weight: 600 !important;
}
.f-grosor-7{
    font-weight: 700 !important;
}
.f-grosor-8{
    font-weight: 800 !important;
}

.f-grosor-9{
    font-weight: 900 !important;
}
.f-grosor-b{
    font-weight: bold !important;
}

.t-may {
    text-transform: uppercase !important;
}

.t-min {
    text-transform: lowercase !important;
}

.t-cap {
    text-transform: capitalize !important;
}
