.c-rojo {
    color: $fd-rojo !important;
}

.c-rojo-c {
    color: $fd-rojo-c !important;;
}

.c-rojo-o {
    color: $fd-rojo-o-1 !important;;
}

.c-rojo-t {
    color: $fd-rojo-t !important;;
}

.c-rojo-an {
    color: $fd-rojo-an !important;
}

.c-rojo-ro {
    color: $fd-rojo-ro !important;
}

.c-azul {
    color: $fd-azul !important;
}

.c-azul-c {
    color: $fd-azul-c !important;
}

.c-azul-o{
    color: $fd-azul-o-2 !important;
}

.c-azul-ve {
    color: $fd-azul-ve !important;
}

.c-azul-ve-s {
    color: $fd-azul-ve-s !important;
}

.c-azul-ve-c {
    color: $fd-azul-ve-c !important;
}

.c-azul-t {
    color: $fd-azul-t !important;
}

.c-azul-vi {
    color: $fd-azul-vi !important;
}

.c-verde {
    color: $fd-verde !important;
}
.c-verde-c {
    color: $fd-verde-c !important;
}

.c-verde-o {
    color: $fd-verde-o-2 !important;
}

.c-verde-t {
    color: $fd-verde-t !important;
}
.c-verde-az {
    color: $fd-verde-az !important;
}

.c-verde-am {
    color: $fd-verde-am !important;
}

.c-gris {
    color: $fd-gris !important;
}
.c-gris-c {
    color: $fd-gris-c !important;
}

.c-gris-o {
    color: $fd-gris-o-2 !important;
}

.c-gris-t {
    color: $fd-gris-t !important;
}
.c-gris-az {
    color: $fd-gris-az !important;
}

.c-gris-az-c {
    color: $fd-gris-az-c !important ;
}

.c-gris-az-o {
    color: $fd-gris-az-o !important;
}

.c-gris-n {
    color: $fd-gris-n !important;
}

.c-blanco {
    color: $fd-blanco !important;
}

.c-negro {
    color: $fd-negro !important;
}

.c-violeta {
    color: $fd-violeta !important;
}

.c-violeta-c {
    color: $fd-violeta-c !important;
}

.c-violeta-o {
    color: $fd-violeta-o-1 !important;
}

.fd-violeta-t {
    color: $fd-violeta-t !important;
}

.c-violeta-az {
    color: $fd-violeta-az !important;
}

.c-violeta-ro {
    color: $fd-violeta-ro !important;
}

.c-naranja {
    color: $fd-naranja !important;
}

.c-naranja-o {
    color: $fd-naranja-o-2 !important;
}

.c-naranja-c {
    color: $fd-naranja-c !important;
}

.c-naranja-t {
    color: $fd-naranja-t !important;
}
.c-naranja-ro {
    color: $fd-naranja-ro !important;
}

.c-naranja-am {
    color: $fd-naranja-am !important;
}


.c-amarillo {
    color: $fd-amarillo !important;
}

.c-amarillo-c {
    color: $fd-amarillo-c !important;
}

.c-amarillo-o {
    color: $fd-amarillo-o-2 !important;
}

.c-amarillo-t {
    color: $fd-amarillo-t !important;
}

.c-amarillo-ve{
    color: $fd-amarillo-ve !important;
}

.c-amarillo-an {
    color: $fd-amarillo-an !important;
}
