// ************************ 
// Contenedor para centrar el contenido 
// > 1024px ocupa 70% del ancho del contenedor padre
.contenedor {
    width: 70% ;
    margin: auto ;
}

// <= 1024px ocupa 75% del ancho del contenedor padre
.contenedor {
    @include agregar-a-medida-maxima(m){
        width: 75% ;
        margin: auto;
    }  
}

//  s<768px<m ocupa 80% del ancho del contenedor padre
.contenedor {
    @include agregar-a-medida-maxima(s){
        width: 80% ;
        margin: auto ;
    }  
}

//  >400px ocupa 90% del ancho del contenedor padre
.contenedor {
    @include agregar-a-medida-maxima(xs){
        width: 90% ;
        margin: auto ;
    }  
}
