/****
    Grilla para acomodar los elementos dentro del sitio
    Contiene 4 medidas disponibles
    cxs: MxtraSmall para dispositivos de 400px de ancho max
    cs: Small para dispositivos de 768px de ancho max
    cm: Medium para dispositivos de 1024px de ancho max
    cl: Large para dispositivos de mas de 1100px de ancho max
*/

.fila {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr) !important;   

    

    @for $i from 1 through 12 {
        .cxs-#{$i} { 
            grid-column: span $i ;
        }
    }

    @for $i from 1 through 12 {
        .cs-#{$i} { 
            grid-column: span $i;
        }
    } 
    @for $i from 1 through 12 {
        .cm-#{$i} { 
            grid-column: span $i;
        }
    }
    @for $i from 1 through 12 {
        .cl-#{$i} { 
            grid-column: span $i;
        }
    }

    @for $i from 1 through 12 {
        $off: $i + 1;
        @for $j from 1 through 12 {
            .offset-xs-#{$i}-#{$j} {
                grid-column: #{$off} / span #{$j} 
            }
        }
    }


    @for $i from 1 through 12 {
        $off: $i + 1;
        @for $j from 1 through 12 {
            .offset-s-#{$i}-#{$j} {
                grid-column: #{$off} / span #{$j} 
            }
        }
    }

    @for $i from 1 through 12 {
        $off: $i + 1;
        @for $j from 1 through 12 {
            .offset-m-#{$i}-#{$j} {
                grid-column: #{$off} / span #{$j} 
            }
        }
    }
    @for $i from 1 through 12 {
        $off: $i + 1;
        @for $j from 1 through 12 {
            .offset-l-#{$i}-#{$j} {
                grid-column: #{$off} / span #{$j}
            }
        }
    }

    

    @media (max-width: dameMedida(m)){

        @for $i from 1 through 12 {
            .cxs-#{$i} { 
                grid-column: span $i;
            }
        }

        @for $i from 1 through 12 {
            .cs-#{$i} { 
                grid-column: span $i;
            }
        }

        @for $i from 1 through 12 {
            .cm-#{$i} { 
                grid-column: span $i;
            }
        } 

        @for $i from 1 through 12 {
            $off: $i + 1;
            @for $j from 1 through 12 {
                .offset-xs-#{$i}-#{$j} {
                    grid-column: #{$off} / span #{$j} 
                }
            }
        }
    
        @for $i from 1 through 12 {
            $off: $i + 1;
            @for $j from 1 through 12 {

                .offset-s-#{$i}-#{$j} {
                    grid-column: #{$off} / span #{$j} 
                }
            }
        }
        @for $i from 1 through 12 {
            $off: $i + 1;
            @for $j from 1 through 12 {
                .offset-m-#{$i}-#{$j} {
                    grid-column: #{$off} / span #{$j}
                }
            }
        }
    }

    @media (max-width: dameMedida(s)){
       
        @for $i from 1 through 12 {
            .cxs-#{$i} { 
                grid-column: span $i;
            }
        }
        @for $i from 1 through 12 {
            .cs-#{$i} { 
                grid-column: span $i;
            }
        } 

        @for $i from 1 through 12 {
            $off: $i + 1;
            @for $j from 1 through 12 {
                .offset-xs-#{$i}-#{$j} {
                    grid-column: #{$off} / span #{$j} 
                }
            }
        }
        @for $i from 1 through 12 {
            $off: $i + 1;
            @for $j from 1 through 12 {
                .offset-s-#{$i}-#{$j} {
                    grid-column: #{$off} / span #{$j}
                }
            }
        }
    }

    @media (max-width: dameMedida(xs)){

        
        @for $i from 1 through 12 {
            .cxs-#{$i} { 
                grid-column: span $i;
            }
        } 
        @for $i from 1 through 12 {
            $off: $i + 1;
            @for $j from 1 through 12 {
                .offset-xs-#{$i}-#{$j} {
                    grid-column: #{$off} / span #{$j}
                }
            }
        }
    }
}
